<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/landing.css">
<div id="landing-header">
	<h1>
		Welcome to Yelpcamp
	</h1>
	<a href="/campgrounds" class="btn btn-lg bt-success"> View All Campgrounds </a>
</div>

<ul class="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<% include partials/footer %>